<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>AirBNB listing price recommender app</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  
</head>

<body style="background: #FFFFFF;">
 <div class="login">
    <h1>AirBNB listing price app</h1>
    <h2>Bhavneesh Sharma: DSPT3, Lambda School</h1>
    
<!-- Main Input For Receiving Query to our ML -->
<form action="{{ url_for('predict')}}"method="post">
  <input type="text" name="room_type" placeholder="Room Type" required="required" />
<br>
    <input type="text" name="neighbourhood_group" placeholder="Neighbourhood group" required="required" size=50 />
<br>

<br>
    <button type="submit" class="btn btn-primary btn-block btn-large">Get your AirBNB listing price recommendation</button>
</form>

<br>
<br>
{{ prediction_text }}
<br>
<br>
 </div>


</body>
</html>